@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
    font-family: 'pretendard';
    text-wrap: balance;
}

body {
    margin: 0;
}

header,
main,
footer {
    padding-left: 5vw;
    padding-right: 5vw;
}

@media screen and (min-width: 1600px) {

    header,
    main,
    footer {
        padding-left: 210px;
        padding-right: 210px;
    }
}

@media screen and (min-width: 1920px) {

    header,
    main,
    footer {
        padding-left: 320px;
        padding-right: 320px;
    }
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F2E9D8;
    margin-bottom: 80px;
    overflow: hidden;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 40px;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}

p {
    margin: 0;
    line-height: 20px;
    font-size: 16px;
}

img {
    vertical-align: top;
    max-width: 100%;
}

main section:not(#map-wrap) img {
    border-radius: 30px;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.25);
}

.font-24 {
    font-size: 24px;
}

.font-36 {
    font-size: 36px;
}

.font-w-700 {
    font-weight: 700;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

.d-block {
    display: block;
}

.btn {
    display: inline-block;
    border-radius: 40px;
    border-width: 0;
    background-color: #D97652;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 30px;
    text-wrap: nowrap;
    cursor: pointer;
}

.d-none {
    display: none;
}

#header-sidebar {
    display: inline;
}

.sidebar-open-btn,
.sidebar-close-btn {
    display: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

#header-top {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-top-nav ul {
    display: inline;
    list-style: none;
    padding: 0;
    margin-right: 49px;
}

#header-top-nav li {
    display: inline;
    margin-left: 30px;
}

#header-top-nav a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}

#header-bottom {
    display: flex;
    background-color: #F2E9D8;
    overflow: hidden;
    max-height: 800px;
}

#header-bottom-img {
    max-width: 415px;
    flex-shrink: 1.2;
}

#header-bottom-text {
    align-self: center;
    flex-shrink: 1.5;
}

#header-bottom-text h3 {
    display: inline;
    margin-top: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

#header-bottom-text span {
    display: inline-block;
    max-width: 420px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

#intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
    gap: 5%;
}

#intro h3 {
    max-width: 510px;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
}

#subtitle {
    text-align: center;
}

#subtitle h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

#subtitle p span,
#subtitle h2 {
    color: #D97652;
}

#pictures {
    text-align: center;
    margin-top: 88px;
    margin-bottom: 80px;
}

#pictures .btn {
    margin-top: 28px;
}

.picture-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    margin-bottom: 100px;
}

.picture-container>* {
    flex: 1 1 326px;
}

#map-wrap {
    margin-top: 68px;
}

#map-wrap strong {
    margin-bottom: 20px;
}

#map {
    margin-top: 48px;
    height: 520px;
    margin-bottom: 81px;
}

#subscribet {
    display: flex;
    gap: 64px;
    justify-content: space-between;
    align-items: center;
    padding: 50px 58px;
    border-radius: 30px;
    background-color: #263140;
    color: white;
}

#subscribet>* {
    flex: 1 1 50%;
}

#subscribet strong {
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 18px;
}

#subscribet p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.input-container {
    position: relative;
}

.input-container .btn {
    position: absolute;
    top: 5px;
    right: 5px;
}

.input-wrap {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 60px;
    height: 60px;
    padding: 0 5px 0 15px;
}

.input-wrap::before {
    content: url('../img/mail.svg');
    margin-right: 16px;
}

.input-wrap input {
    width: calc(100% - 180px);
    border: none;
}

.input-wrap input::placeholder {
    color: #767676;
    font-size: 16px;
    font-weight: 400;
}

#bottom-img-container {
    position: relative;
    height: 340px;
    overflow: hidden;
    top: -100px;
    margin-bottom: -50px;
    z-index: -1;
}

#bottom-img-container img {
    position: absolute;
    z-index: -1;
    left: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 45px;
}

footer img {
    height: 70px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    display: inline;
    margin-left: 20px;
}

footer li a {
    height: 42px;
    width: 42px;
    border-radius: 100px;
    background-color: #F29D52;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.logo-anchor::before {
    position: relative;
    vertical-align: -100%;
}

#link-blog::before {
    content: url('../img/blog.svg');
}

#link-instagram::before {
    content: url('../img/instagram.svg');
}

#link-facebook::before {
    content: url('../img/facebook.svg');
}

#link-youtube::before {
    content: url('../img/youtube.svg');
}

.modal {
    --modal-width: min(600px, calc(100vw - 40px));
    --modal-height: calc(var(--modal-width) * 0.6666666);

    width: var(--modal-width);
    height: var(--modal-height);
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: calc(-1 * var(--modal-height) / 2);
    margin-left: calc(-1 * var(--modal-width) / 2);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-image: url('../img/modal-background.png');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 30px;
    z-index: 1000;

    text-align: center;

    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
}

.modal img {
    width: 20%;
}

.modal strong {
    display: inline-block;
    width: 100%;
    color: rgba(217, 118, 82, 1);
    font-size: 36px;
    font-weight: 700;
}

.modal span {
    font-size: 14px;
    font-weight: 400;
}

.modal-bg {
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
}

@media screen and (max-width: 1080px) {
    #subscribet {
        align-items: normal;
        flex-direction: column;
        gap: 32px;
    }

    #subscribet .input-container {
        display: flex;
        flex-direction: column;
    }

    #subscribet .input-container input {
        width: 100%;
    }

    #subscribet .input-container .btn {
        position: static;
        margin-top: 20px;
        align-self: flex-end;
    }
}

@media screen and (max-width: 640px) {

    #header-bottom,
    #intro {
        flex-direction: column;
        max-height: none;
    }

    #header-bottom,
    #intro {
        align-items: center;
        text-align: center;
    }

    #header-bottom-img {
        max-width: 200px;
    }

    #header-bottom-img img {
        position: relative;
        top: 60px;
    }

    #header-sidebar {
        width: 0;
        height: 100vh;
        padding-left: 60px;
        padding-top: 120px;

        top: 0;
        right: -200px;
        background-color: #263140;
        position: fixed;
        z-index: 1000;

        transition-property: width;
        transition-duration: 0.2s;
    }

    .sidebar-bg {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 900;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition-property: opacity;
        transition-duration: 0.5s;
    }

    .sidebar-bg.open {
        opacity: 1;
    }

    #header-sidebar.open {
        width: max(calc(100vw - 260px), 240px);
        right: 0;
        display: block;
    }

    #header-sidebar .sidebar-close-btn {
        position: absolute;
        top: 30px;
        left: 20px;
    }

    #header-sidebar a {
        color: white;
        font-size: 16px;
        font-weight: 700;
    }

    #header-sidebar ul {
        display: block;
        margin-bottom: 50px;
    }

    #header-sidebar li {
        margin-left: 0;
        margin-bottom: 30px;
        display: block;
    }

    .sidebar-open-btn,
    .sidebar-close-btn {
        display: block;
    }
}