@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
    font-family: 'pretendard';
}

body {
    margin: 0;
}

header,
main,
footer {
    padding-left: clamp(20px, 20rem, 320px);
    padding-right: clamp(20px, 20rem, 320px);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F2E9D8;
    margin-bottom: 80px;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 40px;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}

p {
    line-height: 20px;
    font-size: 16px;
}

img {
    border-radius: 30px;
    vertical-align: top;
    height: 100%;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.overflow-hidden {
    overflow: hidden;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-24 {
    font-size: 24px;
}

.font-36 {
    font-size: 36px;
}

.font-48 {
    font-size: 48px;
}

.w-100 {
    width: 100%;
}

.gap-20 {
    gap: 20px;
}

.gap-30 {
    gap: 30px;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

.btn {
    display: inline-block;
    width: 140px;
    height: 50px;
    border-radius: 40px;
    border-width: 0;
    background-color: #D97652;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.d-none {
    display: none;
}

#header-top {
    height: 102px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-top-nav ul {
    list-style: none;
    padding: 0;
    margin-right: 49px;
}

#header-top-nav li {
    display: inline;
    margin-left: 30px;
}

#header-top-nav a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}

#header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 170px;
    background-color: #F2E9D8;
}

#header-bottom strong {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 40px;
}

#header-bottom p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 40px;
}

#main-top {
    display: flex;
    justify-content: space-between;
    gap: 110px;
    margin-bottom: 120px;
}

#main-top strong {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
}

#main-picture {
    text-align: center;
}

#main-picture h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #D97652;
}

#main-picture #picture {
    margin-bottom: 100px;
}